@import 'theme';

html, body {
  height: 100vh;
  margin: 0;

  font-family: $f-poppins;
}

button {
    font-family: $f-poppins;
    font-size: 14px;
    font-weight: 500;

    color: $c-primary;
    text-transform: capitalize;

    background: none;
    border: none;

    border-radius: 10px;
    padding: 8px 20px;

    border: 1px solid $c-primary;

    cursor: pointer;
    transition: $animation;

    &:hover:enabled{
        transform: scale(1.05);
    }


}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: $c-bg-grey;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color:  $c-bg-grey;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba($c-primary, 0.3);

  &:hover {
	  background-color: rgba($c-primary, 1);
  }
}

